.container {
    margin-top: 5%;
}

.form-container {
    background-color: #f8f9fa;
    padding: 3em;
    border-radius: 1em;
}

.form-header {
    background-color: #007bff;
    color: #fff;
    padding: 1em;
    border-radius: 1em 1em 0 0;
    text-align: center;
    font-weight: bold;
}

#header {
    background-color: #212529;
}

a {
    text-decoration: none;
}

span {
    display: inline-block;
    color: #b1b1b1;
    width: 2em;
}

#telefono {
    display: inline-block;
    width: calc(100% - 2em);
}

/* Esto marca cuando una entrada es invalida. En este estado, marca TODO campo inválido desde el momento 1, es decir, desde el principio (Ya marca todo rojo de antemano, no cuando se intente confirmar) PERO, se actualiza en tiempo real porque usa pseudo-clases del navegador propio. Pero sirve para mostrar el concepto de la verificación default del navegador. */
/* El focus solo hace que se ignore el destaque default del navegador. el primero actúa en general, el segundo es para mantener el borde que indica el campo inválido */
/* input:invalid, select:invalid{
    border: 1px solid red;
}
input:focus, select:focus {
    box-shadow: none !important;
    border: 1px solid;
}
input:invalid:focus, select:invalid:focus {
    border-color: red;
} */
