body {
    margin: 0;
}
.menu {
    display: grid;
    align-items: center;
    background-color: #040077;
    height: 50px;
    margin: 0;
    position: sticky;
    top: 0;
}
.menu_element {
    margin: 0 5px;
    display: inline-block;
    padding: 8px 10px;
    background-color: black;
    border-radius: 9px;
}
.menu_element:hover, .active {
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.5s ease;
    a {
        color: black;
    }
}
.menu_list {
    margin: 0;
    margin-right: 10px;
    list-style-type: none;
    justify-self: flex-end;

}
.menu_element a {
    color: #fff;
    text-decoration: none;
}
